/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #2F3C4F;
  text-align: center;
}

main {
  min-height: 400px;
}

h1 {
  font-weight: bold;
  color: #DE703B;
}

img {
  height: 50px;
  width: 50px;
}

ul {
  list-style: none;
  margin-left: 300px;
}

li {
  display: flex;
  align-items: center; 
  text-align: left;
  background-color: #506E86;
  width: 870px;
  border: 1px solid #DE703B;
  border-radius: 5px;
  box-shadow: 1px 2px #C25019;
  color: #FCB040;
  padding: 5px;
  margin: 7px;
}

li:hover {
  box-shadow: 2px 3px #EB5F1C;
}

a {
  text-decoration: none;
  width: 150px;
  padding-left: 20px;
  padding-right: 20px;
  color: #E3931E;
}

a:hover {
  text-decoration: underline;
}





button {
  font-size: 16px;
  border-radius: 3px;
  background-color: #2F3C4F;
  color: #FCB040;
  border: 1px solid #DE703B;
  box-shadow: 2px 2px #506E86;
  cursor: pointer;
}

button:hover {
  background-color: #DE703B;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  
}

footer > a {
  color: #BBBBBB;
  float: right;
  width: 300px;
}

.nicejob {
  text-decoration: line-through;
}
